
@media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }



body {
  background-color: snow;
  color: #333333;
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  border: 5px solid black;
  padding: 20px;
}

p {
  width: 50%;
  margin: 20px auto;
}

img {
  width: 50%;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 10px grey;
}


#myCarousel img {
  width: 70%;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 10px grey;
}

#pawsCarousel img {
  width: 400px;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 10px grey;
}

#myCarousel {
  margin: 0 auto;
  width: 600px;
}

#pawsCarousel {
  margin: 0 auto;
  width: 600px;
}

#myCarousel li {
  background: black;
}

#pawsCarousel li {
  background: black;
}



#myCarousel h3 {
display: inline;
background: black;
color: white;
border-radius: 20px;
}

#pawsCarousel h3 {
display: inline;
background: black;
color: white;
border-radius: 20px;
}
