
@media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }



body {
  background-color: snow;
  color: #333333;
  font-family: 'Jua', sans-serif;
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  border: 5px solid black;
  padding: 20px;
}

p {
  width: 50%;
  margin: 20px auto;
}

img {
  width: 50%;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 10px grey;
}


#myCarousel img {
  width: 70%;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 10px grey;
}

#pawsCarousel img {
  width: 400px;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 10px grey;
}

#myCarousel {
  margin: 0 auto;
  width: 600px;
}

#pawsCarousel {
  margin: 0 auto;
  width: 600px;
}

#myCarousel li {
  background: black;
}

#pawsCarousel li {
  background: black;
}



#myCarousel h3 {
display: inline;
background: black;
color: white;
border-radius: 20px;
}

#pawsCarousel h3 {
display: inline;
background: black;
color: white;
border-radius: 20px;
}

header {
  background: url('../images/st_pete.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}


header img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 2px solid whitesmoke;
}

header h1 {
  font-size: 60px;
}

.headerDiv {
  width: 50%;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #333333;
  color: whitesmoke;
}

nav div {
  width: 32%;
  display: flex;
  justify-content: center;
}

.aboutMe {
  text-align: center;
  margin: 80px auto;
}

.aboutMe p {
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  color: whitesmoke;
  border: 1px solid black;
}

footer div {
  width: 48%;
  height: 90%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}


footer a {
  font-size: 30px;
  color: whitesmoke;
}
