body {
  background: linear-gradient(red, yellow);
  color: blue;
  background-size: center;
  height: 100%;
}

h1, #conan-health, #guy-health {
  margin: 0;
  text-align: center;
}

#gameboard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 100%;
}


#conan-div #conan-pic {
  width: 600px;
  height: 400px;
}

#guy-div #guy-pic {
  width: 600px;
  height: 400px;
}

#guy-div, #conan-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#guy-health, #conan-health {
  width: 400px;
  height: 30px;
  background-color: black;
  margin: 0 auto;
  color: white;
}

button {
  width: 200px;
  background-color: blue;
  border-radius: 20px;
  color: white;
}

#attack-images {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#attack-images img {
  width: 200px;
  height: auto;
}

#attack-images p {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 80px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  text-align: center;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 600px;
	width: 600px;
	border-radius: 2px;
	padding: 10px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#modal-guy {
  height: 200px;
  width: 200px;
}

#modal-conan {
  height: 200px;
  width: 300px;
}

#character-select {
  display: flex;
  justify-content: center;
}

#conan-select, #guy-select {
  text-decoration: none;
  background-color: yellow;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
}
