/* Things I want to add: span-like elements for attack power
Potion-like items
Repopulate the player 2 spot after the first enemy has been defeated. Like Tekken story mode
Populate stat board in modal
Status affecting attacks */




body {
  color: blue;
  background: linear-gradient(red, yellow);
  font-family: 'Shrikhand', cursive, sans-serif;
}

h1, #player2-health, #player1-health {
  margin: 0;
  text-align: center;
}

#container {
  /* background: linear-gradient(red, yellow); */
  background-size: cover;
  height: 100%;
  width: 100%;
}

#win-and-reset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

#player1-victories, #player2-victories {
  width: 33%;
  text-align: center;
}

#reset {
  height: 20px;
  width: 33%;
  z-index: 2;
  /* margin-top: 30px; */
}

#gameboard {
  background: linear-gradient(red, yellow);
  display: flex;
  height: 100%;
  justify-content: center;
}


#conan-div #player2-pic {
  width: 600px;
  height: 400px;
  visibility: hidden;
}

#guy-div #player1-pic {
  width: 600px;
  height: 400px;
  visibility: hidden;
}

#guy-div, #conan-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attacks {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 410px;
}

#player1-health, #player2-health {
  width: 400px;
  height: 30px;
  background-color: black;
  margin: 0 auto;
  color: white;
  border-radius: 5px;
}

button {
  width: 200px;
  height: 50px;
  font-size: 12px;
  background-color: blue;
  border-radius: 20px;
  color: white;
}

#attack-images {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

span {
  background: white;
  color: blue;
  font-size: 20px;
  border-radius: 20px;
  padding: 3px 3px;
}

#attack-images img {
  width: 200px;
  height: auto;
  z-index: 1;
}

#attack-text {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 160px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  text-align: center;
  z-index: 1;
}

#premodal {
  background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
	overflow: auto;
	display: none;
}

#premodal-textbox {
	background-color: blue;
  border: 1px solid;
  padding: 10px;
	height: 400px;
	width: 300px;
	border-radius: 2px;
	padding: 10px;
	margin: 10px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#premodal a{
  margin: 20px;
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  background-color: yellow;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  width: 100px;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 100%;
	width: 600px;
	border-radius: 2px;
	padding: 10px;
	margin: 10px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#pusheen-stats, #guy-stats, #conan-stats {
  width: 30%;
}
#modal-guy {
  height: 200px;
  width: 100%;
}

#modal-conan {
  height: 200px;
  width: 80%;
}

#modal-pusheen {
  width: 100%;
  height: 200px;
}

#character-select {
  display: flex;
  justify-content: center;
}

.player-selector {
  text-decoration: none;
  background-color: yellow;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer, header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

footer > p {
  margin: 0;
  height: 48px;
  font-size: 12px;
}
